# Print no. of matches won by each team based on year wise (each year as one column)

In [1]:
import pandas as pd
def matchwon(filename):
    df=pd.read_csv(filename)
    a=df.groupby(['Season_Year','match_winner']).match_winner.count().unstack(level=0).fillna(0)
    return a
matchwon('datafiles/Match.csv')

Season_Year,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
match_winner,,,,,,,,,,
Chennai Super Kings,9.0,8.0,9.0,11.0,10.0,12.0,10.0,10.0,0.0,0.0
Deccan Chargers,2.0,9.0,8.0,6.0,4.0,0.0,0.0,0.0,0.0,0.0
Delhi Daredevils,7.0,10.0,7.0,4.0,11.0,3.0,2.0,5.0,7.0,6.0
Gujarat Lions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,4.0
Kings XI Punjab,10.0,7.0,4.0,7.0,8.0,8.0,12.0,3.0,4.0,7.0
Kochi Tuskers Kerala,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
Kolkata Knight Riders,6.0,3.0,7.0,8.0,12.0,6.0,11.0,7.0,8.0,9.0
Mumbai Indians,7.0,5.0,11.0,10.0,10.0,13.0,7.0,10.0,7.0,11.0
Pune Warriors,0.0,0.0,0.0,4.0,4.0,4.0,0.0,0.0,0.0,0.0
Rajasthan Royals,13.0,6.0,6.0,6.0,7.0,11.0,7.0,7.0,0.0,0.0
Rising Pune Supergiants,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,10.0
Royal Challengers Bangalore,4.0,9.0,8.0,10.0,8.0,9.0,5.0,8.0,9.0,3.0
Sunrisers Hyderabad,0.0,0.0,0.0,0.0,0.0,10.0,6.0,7.0,11.0,8.0
abandoned,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
tied,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

# Print  ManOfMach count of each player in  Hyderabad stadium

In [2]:
import pandas as pd
import numpy as np
def manofmatch(filename):
    df=pd.read_csv(filename)
    li=[]
    counts=[]
    d={}
    for row in df.values:
        if(row[7]=='Hyderabad') or (row[7]=='Hyderabad (Deccan)'):
            li.append (row[14])
    uniq,counts=np.unique(li,return_counts=True)
    d={'man_of_match':uniq,'count':counts}
    dff=pd.DataFrame(d)
    return dff
manofmatch('datafiles/Match.csv')

         man_of_match  count
0            A Mishra      2
1            AB Dinda      1
2           AT Rayudu      1
3             B Kumar      2
4           CH Morris      1
5           DA Warner      7
6            DJ Bravo      1
7           DJG Sammy      1
8            DW Steyn      3
9           G Gambhir      1
10          GH Vihari      2
11           I Sharma      1
12         JD Unadkat      1
13          KH Pandya      1
14      KS Williamson      1
15     MJ McClenaghan      1
16           MR Marsh      1
17      Mandeep Singh      1
18  Mustafizur Rahman      1
19           PA Patel      1
20        PC Valthaty      1
21      R Vinay Kumar      1
22        Rashid Khan      1
23           S Dhawan      1
24         SC Ganguly      1
25           SE Marsh      1
26           SK Raina      2
27         SK Trivedi      1
28         SL Malinga      1
29           UT Yadav      1
30            V Kohli      1
31           V Sehwag      2
32            WP Saha      1
33          YK Pathan      2
34       Yuvraj Singh      1

In [28]:
import pandas as pd
import numpy as np
def matchwonandloss(filename):
    df=pd.read_csv(filename)
    team=[]
    counts=[]
    d={}
    for row in df.values:
        if(row[9]==row[10]):
            team.append (row[10])
    uniq,counts=np.unique(team,return_counts=True)
    d={'Team':uniq,'Win':counts}
        
    dff=pd.DataFrame(d)
    return dff
matchwonandloss('datafiles/Match.csv')

                           Team  Win
0           Chennai Super Kings   42
1               Deccan Chargers   19
2              Delhi Daredevils   33
3                 Gujarat Lions   10
4               Kings XI Punjab   28
5          Kochi Tuskers Kerala    4
6         Kolkata Knight Riders   44
7                Mumbai Indians   48
8                 Pune Warriors    3
9              Rajasthan Royals   34
10      Rising Pune Supergiants    7
11  Royal Challengers Bangalore   35
12          Sunrisers Hyderabad   17

In [31]:
import pandas as pd
import numpy as np
def matchwonandloss(filename):
    team=[]
    uniqueteam=[]
    df=pd.read_csv(filename)
    for row in df.values:
        team.append (row[10])
        uniqueteam=np.unique(team)
    winlist=[]
    losslist=[]
    for i in uniqueteam:
        wc=0
        lc=0
        for row in df.values:
            if i==row[9] and i==row[10]:
                wc=wc+1
            elif i==row[2] or i==row[3]:
                lc=lc+1
        winlist.append (wc)
        losslist.append(lc)
    d={'team':uniqueteam,'win':winlist,'loss':losslist}
    dff=pd.DataFrame(d)
    return dff
matchwonandloss('datafiles/Match.csv')

                           team  win  loss
0           Chennai Super Kings   42    89
1               Deccan Chargers   19    56
2              Delhi Daredevils   33   114
3                 Gujarat Lions   10    20
4               Kings XI Punjab   28   120
5          Kochi Tuskers Kerala    4    10
6         Kolkata Knight Riders   44   104
7                Mumbai Indians   48   109
8                 Pune Warriors    3    43
9              Rajasthan Royals   34    84
10      Rising Pune Supergiants    7    23
11  Royal Challengers Bangalore   35   118
12          Sunrisers Hyderabad   17    60
13                    abandoned    0     0
14                          nan    0     0
15                         tied    0     0